<div class="html-settings">

<div class="form-group">
    <label for="htmlHeader">
      {{localize "QJPC.settings.htmlHeader.name"}}
    </label>
    <textarea id="htmlHeader" name="htmlHeader" rows="3">{{htmlStyleTag}}</textarea>
    <p class="notes">{{localize "QJPC.settings.htmlHeader.hint"}}</p>
  </div>

<div class="form-group">
    <label for="htmlStyleTag">
      {{localize "QJPC.settings.htmlStyleTag.name"}}
    </label>
    <textarea id="htmlStyleTag" name="htmlStyleTag" rows="10">{{htmlStyleTag}}</textarea>
    <p class="notes">{{localize "QJPC.settings.htmlStyleTag.hint"}}</p>
  </div>


<div class="form-group">
    <label for="base64PictureExport">
      {{localize "QJPC.settings.base64PictureExport.name"}}
    </label>
    <input type="checkbox" id="base64PictureExport" name="base64PictureExport" {{#if base64PictureExport}}checked{{/if}}>
    <p class="notes">{{localize "QJPC.settings.base64PictureExport.hint"}}</p>
  </div>

  <div class="form-group">
    <label for="picturePathSearchFor">
      {{localize "QJPC.settings.picturePathSearchFor.name"}}
    </label>
    <input type="text" id="picturePathSearchFor" name="picturePathSearchFor" value="{{picturePathSearchFor}}">
    <p class="notes">{{localize "QJPC.settings.picturePathSearchFor.hint"}}</p>
  </div>

  <div class="form-group">
    <label for="picturePathReplaceWith">
      {{localize "QJPC.settings.picturePathReplaceWith.name"}}
    </label>
    <input type="text" id="picturePathReplaceWith" name="picturePathReplaceWith" value="{{picturePathReplaceWith}}">
    <p class="notes">{{localize "QJPC.settings.picturePathReplaceWith.hint"}}</p>
  </div>

  <div class="form-group">
    <label for="htmlFooter">
      {{localize "QJPC.settings.htmlFooter.name"}}
    </label>
    <textarea id="htmlFooter" name="htmlFooter" rows="3">{{htmlStyleTag}}</textarea>
    <p class="notes">{{localize "QJPC.settings.htmlFooter.hint"}}</p>
  </div>

  <div class="form-buttons">
    <button type="submit" class="button save" data-action="setSettings">{{localize "QJPC.settings.buttons.save"}}</button>
    <button type="button" class="button cancel" data-action="cancel">{{localize "QJPC.settings.buttons.cancel"}}</button>
  </div>
</div>