<div class="markdown-settings">
  <div class="form-group">
    <label for="isSecretObsidianCallout">
      {{localize "QJPC.settings.isSecretObsidianCallout.name"}}
    </label>
    <input type="checkbox" id="isSecretObsidianCallout" name="isSecretObsidianCallout" {{#if isSecretObsidianCallout}}checked{{/if}}>
    <p class="notes">{{localize "QJPC.settings.isSecretObsidianCallout.hint"}}</p>
  </div>

  <div class="form-group">
    <label for="isDetailsTagObsidianCallout">
      {{localize "QJPC.settings.isDetailsTagObsidianCallout.name"}}
    </label>
    <input type="checkbox" id="isDetailsTagObsidianCallout" name="isDetailsTagObsidianCallout" {{#if isDetailsTagObsidianCallout}}checked{{/if}}>
    <p class="notes">{{localize "QJPC.settings.isDetailsTagObsidianCallout.hint"}}</p>
  </div>

  <div class="form-group">
    <label for="isBlockQuoteObsidianCallout">
      {{localize "QJPC.settings.isBlockQuoteObsidianCallout.name"}}
    </label>
    <input type="checkbox" id="isBlockQuoteObsidianCallout" name="isBlockQuoteObsidianCallout" {{#if isBlockQuoteObsidianCallout}}checked{{/if}}>
    <p class="notes">{{localize "QJPC.settings.isBlockQuoteObsidianCallout.hint"}}</p>
  </div>

  <div class="form-buttons">
    <button type="submit" class="button save" data-action="setSettings">{{localize "QJPC.settings.buttons.save"}}</button>
    <button type="button" class="button cancel" data-action="cancel">{{localize "QJPC.settings.buttons.cancel"}}</button>
  </div>
</div>